.designedon {
  display: block; }

.designedon_il {
  display: inline-block; }

.designedoff, .designedoff_il {
  display: none; }

/* full page */
#outerContainer {
  float: left;
  width: 100%;
  text-align: center;
  display: block; }

#outerContainerBox {
  width: 100%;
  display: block;
  min-height: 170px; }

#outerContainer {
  width: 100%;
  overflow: visible;
  margin: 0px auto;
  text-align: center;
  display: block; }

#outerContainerBox {
  width: 100%;
  float: left;
  background: none;
  margin: 0 0px 0 0;
  background: #fff;
  border-left: 0;
  overflow: hidden; }

.outerContainer {
  background: url(https://1039206484.rsc.cdn77.org/assets/images/footbar2.png) 0 bottom repeat-x; }

#outerContainerBox {
  background: url(https://1039206484.rsc.cdn77.org/assets/images/menubar.png) 0 115px repeat-x; }

/* wide design */
#mainContainer_wide_1500 .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.home33Cw a:first-of-type {
  margin-top: 11px; }

/* main page area */
#innerContainer, #secureContainer {
  width: 100%;
  height: auto;
  float: left;
  text-align: left;
  padding: 0px 0 5px 0px; }

#checkoutContainer {
  width: 100%;
  float: left;
  text-align: left;
  padding: 0 0 5px 0; }

#mainContainer_wide {
  width: 100%;
  min-height: 350px;
  margin: 0 auto;
  max-width: 1700px; }

#mainContainer_wide_1500 {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px; }

#mainContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px; }

#crumbs {
  padding-left: 10px; }

/* main area columns  */
#leftContainer {
  float: left;
  clear: left;
  width: 200px;
  min-height: 300px;
  margin: 0px 0 0 0;
  padding: 0 10px 10px;
  text-align: left; }

#leftContainerPerm {
  float: left;
  clear: left;
  width: 200px;
  min-height: 300px;
  margin: 0px 0 0 0;
  padding: 0 0 10px 0;
  text-align: left; }

#centerContainer {
  margin-left: 230px;
  margin-right: 10px;
  text-align: left;
  padding: 0px 0px 0px 0; }

#footer {
  float: none;
  width: 100%;
  height: 320px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

/* height must match footbar.png */
#footerCheckout {
  float: left;
  width: 100%; }

.sp_spacer {
  float: left;
  width: 100%;
  display: block;
  height: 30px; }

img.ppHtmlImg {
  float: left;
  width: 100%;
  height: 185px; }

#headerContainer {
  width: 100%;
  xpadding: 0 5%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  max-width: 960px;
  margin: 0 auto;
  float: none; }

#headerBar {
  background: #ccc;
  float: none;
  height: 51px;
  width: 100%;
  display: inline-block;
  max-width: 960px;
  margin: 0 auto; }

ul.menu {
  max-width: 660px; }

/* Fix for extra links in nav bar */
#headerBar {
  max-width: 1080px; }

ul.menu {
  max-width: 700px; }

/* END Fix for extra links in nav bar */
/* Footer fixes */
.footerRowOne {
  max-width: 1080px;
  margin: 10px auto; }

.footNews {
  width: 40%;
  margin: 4px 0 0 4%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.footCatalogue {
  width: 20%; }
