﻿div#responsiveOverride{
	display: none !important;
}
div#ge_flag_mobile {
	width: 100%;
}

div#phoneFooter {
	margin: 0;
	background-color: #ebebeb;
	padding: 1em;
	float: left;
	width: 100%;
}
div#ge_flag_mobile {
	width: 100%;
	float: left;
	position: relative;
	height: auto;
	padding: 1em;
	background-color: #ebebeb;
}
ul#phoneFooter {
	background: none;
	border: none;
	font-size: 1.3em;
}
span#ge_container_mobile {
	width: 100%;
	height: auto;
	padding: 0.2em 1em !important;
	float: left;
}
.phoneFooter li {
	border: none;
	padding: 0;
	width: 100%;
}
div#responsiveOverride {
	width: 100%;
	margin: 0;
	text-align: center;
	background: #ebebeb;
	border-top: 1px solid grey;
}
.copyrightTextDiv {
	width: 100%;
}
.clump{
	display: block;
	width: 100%;
	float: left;
}
.reqCatP {
	float: left;
	width: 50%;
	font-size: 1.2em;
	height: auto;
	text-align: left;
	white-space: pre-wrap;
	font-weight: bold;
	margin-top: 2em !important;
}
.reqCatDiv{
	border-top: 1px solid black;
}
.reqCatDiv > a.btn {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
}
.signUpForm > form{
display: block;
margin: auto;
float: none;
position: relative;
height: 40px;
width: 100%;
max-width: 472px;
}
.reqCatImg {
width: 100%;
margin: 1em;
box-shadow: 2px 4px 3px -1px rgba(0, 0, 0, 0.3);
max-width: 7em;
}

.emailSignUp {
min-height: none !important;
padding: 1em; 
}

.socialContainer {
padding: 0 0 1em 0;
background: none !important;
}

.socialContainer .justify-content-between.removePad {
display: block;
margin: auto;
}

.followJoeHeader {
display: inline-block;
float: left;
width: auto;
margin: auto;
padding: 0.3em 2em;
font-family: "Fjalla One", Helvetica, Verdana, sans-serif;
font-size: 2.5em;
color: #58595b;
text-underline-position: under;
}

.sprite--social {
border: none !important;
border-radius: 6px !important;
transition: background .2s;
}

.sprite--fb {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -147px -52px;
width: 40px;
height: 41px;
tranisition: background .2s;
}

.sprite--fb:hover {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -147px -7px;
}

.sprite--twit {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -193px -52px;
width: 41px;
height: 41px;
tranisition: background .2s;
}

.sprite--twit:hover {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -193px -7px;
}

.sprite--pint {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -3px -52px;
width: 41px;
height: 41px;
tranisition: background .2s;
}

.sprite--pint:hover {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -3px -7px;
}

.sprite--insta {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -99px -52px;
width: 41px;
height: 41px;
tranisition: background .2s;
}

.sprite--insta:hover {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -99px -7px;
}

.sprite--ytube {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -51px -52px;
width: 41px;
height: 41px;
tranisition: background .2s;
}

.sprite--ytube:hover {
background: url('https://1039206484.rsc.cdn77.org/assets/images/icons1--social--sprite.png') no-repeat -51px -7px;
}

.sprite--feefo {
margin: auto;
}

.feefoNCardsRow {
padding: 1.5em 0;
border-top: 1px solid #f4f4f4;
margin-top: 1em;
}

.feefoNCardsRow > div {
padding: 0 !important;
}

.requestCat {
padding: 1em;
border: 1px solid #f4f4f4;
background: #fbfbfb;
}

.footerContainer_v1,
.footerContainer_v2,
.footerContainer_v3 {
float: left;
}

.footerContainer_v1 {
background-color: #cccccc;
border-top: 1px solid dimgrey;
border-bottom: 1px solid dimgrey;
}

.footerContainer_v2 {
background: #ececec;
padding-bottom: 1em;
}

.footerContainer_v3 {
background: #f2f2f2;
color: #6f7980;
padding: 1em 0;
border-top: 1px solid #f4f4f4;
line-height: 4em;
}

.copyrightText {
width: 100%;
padding: 0;
text-align: right;
margin: 0;
line-height: 1.3em;
text-align: center;
}
.ftrLinks li {
font-size: 1.4em;
color: black !important;
}

.footerSection h3 {
font-size: 1.6em;
font-weight: bold;
padding-bottom: 0.5em;
border-bottom: 1px solid black;
margin-bottom: 1em;
color: Black;
text-align: center;
}

.footerSection {
padding-top: 3em;
padding-bottom: 2em;
}

.ftrLinks li a {
color: Black;
}

li.footer-call-us.clearfix {
float: left;
border: none;
background: white;
padding: 1em;
border-radius: 3px;
box-shadow: 2px 2px 2px #ececec;
}

a.socialIcon {
display: inline-block;
float: left;
margin-right: 2.7em;
}

li.cards {
display: inline-block;
float: left;
transition: all .4s ease;
}

li.cards:hover {
opacity: 1;
filter: grayscale(0);
}

li.cards.thawte {
padding: 0;
}

.wrapper {
height: 100%;
box-sizing: border-box;
}

.footerBtn {
background: #f4f4f4;
font-size: 1.15em;
padding: 0.55em 1em !important;
color: #336E7B !important;
font-weight: bold;
transition: color .2s, background .2s;
box-sizing: border-box;
width: 100%;
}

.viewOnline {
color: black !important;
}

.footerBtn:hover {
background: #F9BF3B !important;
color: black !important;
}

.footerHeader {
margin-bottom: 0.8em;
font-size: 2.1em;
font-weight: bold;
margin-top: 0.4em;
}

.feefoCol {
max-width: 100%;
}

.feefoCol > a {
width: 64px;
height: 64px;
}

.feefoImg {
max-width: 100%;
width: auto;
max-height: 100%;
}

.maestro--sprite {
background: url('https://1039206484.rsc.cdn77.org/assets/images/newIconSprite_2018.png') no-repeat -2px -3px;
width: 39px;
height: 25px;
}

.mastercard--sprite {
background: url('https://1039206484.rsc.cdn77.org/assets/images/newIconSprite_2018.png') no-repeat -43px -3px;
width: 39px;
height: 25px;
}

.visa--sprite {
background: url('https://1039206484.rsc.cdn77.org/assets/images/newIconSprite_2018.png') no-repeat -83px -3px;
width: 40px;
height: 25px;
}

.amex--sprite {
background: url('https://1039206484.rsc.cdn77.org/assets/images/newIconSprite_2018.png') no-repeat -124px -3px;
width: 39px;
height: 25px;
}

.thawte--sprite {
background: url('https://1039206484.rsc.cdn77.org/assets/images/securitySprite.png')  no-repeat -94px -3px;
width: 77px;
height: 44px;
}
.securityMetric--sprite{
background: url('https://1039206484.rsc.cdn77.org/assets/images/securitySprite.png') no-repeat -14px -2px;
width: 77px;
height: 44px;
margin-left: 0.3em;
}
.securityDiv{
margin-top: -27px;
}

.signUpMsg {
font-size: 1.5em !important;
color: black;
line-height: 2.4em;
font-weight: bold;
padding: 0.2em;
}

.invertedBtn {
background-color: #b21e23;
float: left;
border-radius: 0px 6px 6px 0px !important;
color: #ffffff !important;
height: 40px;
border: none;
width: 30%;
font-size: 1.4em;
}

.invertedBtn:hover{
text-decoration: none;
}

.signUpInput {
float: left;
width: 70%;
margin: 0;
height: auto;
}

.signUpInput > input.std {
width: 100%;
border-radius: 3px 0 0px 3px;
box-sizing: border-box;
border-color: #607d8b;
height: 40px;
text-indent: 1em;
font-size: 1.2em;
text-align: center;
border-right: none !important;
}

.signUpInput > .errorUnder {
position: absolute;
padding: 11px;
width: auto;
max-height: 40px;
margin-top: 32px;
}

@media (max-width: 991px) {
	.maestro--sprite {
		background: url(https://1039206484.rsc.cdn77.org/assets/images/newIconSprite_2018.png) no-repeat -2px -3px;
		width: 137px;
		height: 20px;
		background-size: 20em;
	}
	.mastercard--sprite,
	.visa--sprite,
	.amex--sprite{
		display: none;
	}

	a.footFeefo {
		height: auto;
	}


	 .thawte--sprite {
		background: url(https://1039206484.rsc.cdn77.org/assets/images/securitySprite.png) no-repeat -83px -3px;
		width: 68px;
		height: 38px;
		background-size: 16em;
	}
	.securityMetric--sprite {
		background: url(https://1039206484.rsc.cdn77.org/assets/images/securitySprite.png) no-repeat -13px -3px;
		width: 68px;
		height: 38px;
		margin-left: 0.3em;
		background-size: 16em;
	}
		.securityDiv{
		margin-top: 0;
	  }
	.footerContainer_v1,
	.footerContainer_v1 > .container,
	.footerContainer_v1 > .container > .row > div > .container {
	  max-width: none;
	  width: 100%;
	  padding: 0;
	}
	.footerContainer_v1 > .container > .row {
	  margin: 0;
	}
	.wrapper {
	  border-radius: 0;
	  border: none;
	}
	/*	.requestCat > div {
		padding-left: 15em;
	}
	.requestCat {
		background: url(https://1039206484.rsc.cdn77.org/assets/images/new-catRequestImg.jpg) no-repeat -9em -4em #336E7B;
		color: #ffffff;
	}*/
	.feefoCol > a {
	  display: block;
	  margin: auto;
	}
	.signUpMsg {
		line-height: 1.4em !important;
	  }
}

@media (max-width: 767px) {
	.reqCatDiv{
		margin-top: 3em;
	}
	  .reqCatP {
		width: 100%;
		text-align: center;
	  }
	  a.footerBtn.invertedBtn {
			font-size: 1.1em;
			line-height: 2.47em;
	  }
	  .requestCat .footerBtn {
		padding: 1.5em !important;
		border: 1px solid #ececec;
		border-bottom-color: #d7d6d6;
		border-right-color: #d7d6d6;
		border-radius: 0.5em;
	}
	.reqCatImg {
		display: none;
	}
	.feefoNCardsRow{
		display: none;
	}
	.copyrightText {
		text-align: center;
	}
	.footerSection {
	  padding-top: 1em;
	  padding-bottom: 1em;
	}
	.footerSection:first-child {
	  padding-top: 3em;
	}
	.footerSection h3.head::after {
	  content: "";
	  background: url(https://1039206484.rsc.cdn77.org/assets/images/up-arrow.png) no-repeat center 100%;
	  float: right;
	  width: 20px;
	  height: 20px;
	  background-size: 100%;
	  -webkit-transform: rotate(180deg);
	  transform: rotate(180deg);
	  transition: transform .2s;
	}
	h3.clickedSection::after {
	  -webkit-transform: rotate(0deg) !important;
	  transform: rotate(0deg) !important;
	}
	ul.ftrLinks {
	  display: none;
	}
	ul.ftrLinks.showFtrLinks {
	  display: block;
	}
	a.socialIcon {
	  display: inline-block;
	  float: none;
	  margin: 0 0.6em;
	}
	.removePad {
	  padding: 0;
	}
	.footerSection h3 {
	  cursor: pointer;
	}
	.ftrLinks li a {
	  color: black;
	  display: block;
	  padding: 0.5em 0;
	  font-size: 1.04em;
	}
	.followJoeHeader {
	  padding: 0.7em 0;
	  width: 100%;
	  text-align: center;
	  font-size: 2.9em;
	}
}