/************************
remove reference in styles.css

#ajaxBasket
#miniBasketMainA
line 602-603 #ajaxBasket #miniBasketMainA
Remove >>>	.menu li:hover > a, .menu li:hover > span {color:#FFF;} styles.css line 686
add bootstrap & jquery into the header of Homehtml

************************/
a:hover {
  text-decoration: none; }

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Fjalla One', Helvetica, Verdana, sans-serif; }

/* -- GOLD BUTTONS -- */
input.btn--gold,
a.btn--gold,
a.BMBtn.btn--gold,
input.btn-secondary--gold,
a.btn-secondary--gold {
  padding: 0.5rem 2rem;
  font-family: 'Roboto', Helvetica, Verdana, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 2rem;
  color: black;
  border: 1px solid #ff9f1c;
  border-radius: 0.3rem;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }

input.btn--gold,
a.btn--gold,
a.BMBtn.btn--gold {
  background: #ff9f1c; }

input.btn-secondary--gold,
a.btn-secondary--gold {
  background: white; }

input.btn--gold:hover,
a.btn--gold:hover,
input.btn--gold:active,
a.btn--gold:active,
input.btn-secondary--gold:hover,
a.btn-secondary--gold:hover,
input.btn-secondary--gold:active,
a.btn-secondary--gold:active {
  color: white;
  border: 1px solid #ff9f1c;
  background: #e88600;
  padding: 0.5rem 2rem;
  line-height: 2rem; }

input.btn--gold:hover,
a.btn--gold:hover,
input.btn--gold:active,
a.btn--gold:active {
  font-size: 1.2rem; }

/* -- end GOLD BUTTONS -- */
@media (min-width: 951px) and (max-width: 991px) {
  .nav .col-sm-12 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0 !important;
    flex: 0 0 25% !important;
    max-width: 25% !important; }
  .ipadCol--outlet {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0 !important;
    flex: 0 0 50% !important;
    max-width: 50% !important; }
  .nav .head1,
  .nav .head2 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0 !important;
    flex: 0 0 100% !important;
    max-width: 100% !important; }
  .nav .hidden-xs.hidden-sm.hidden-md.col-lg-2 {
    display: none !important; } }

#basketPopupM {
  font-size: 1.1em; }

#phoneMenu li#pos6a_p {
  display: none; }

.pli_pricebox {
  text-align: center; }

#productListMain .price,
.pli_was {
  width: auto !important; }

.productListItem {
  min-height: 377px; }

#productRel {
  height: auto; }

#crumbs,
#crumbsT,
#crumbsh {
  font-size: 1.3rem;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 1em;
  padding: 0 0 10px; }

.contact-wrap {
  font-size: 0.8em;
  margin-bottom: 1.6em; }

ul.faq-questions li {
  margin-bottom: 0.2em;
  font-size: 0.89em; }

a#dskUserBtn {
  /* height: 38px; */
  /* width: 38px; */
  /* padding: 0.6em 0em !important; */
  height: 100%;
  margin: 0 0.8em; }

a#dskUserBtn:hover {
  cursor: default; }

#dskUserBtn img.mobHeadIcons {
  height: 38px;
  width: 38px; }

.modaal-content-container {
  font-size: 1.2em; }

.rightPriceHolder {
  width: 40%; }

.sp_phoneHead {
  width: 100%;
  background: white;
  margin: 0;
  padding: 1em 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid dimgray;
  border-bottom: 2px solid dimgray; }

.refiner .lmenu div dd a {
  text-decoration: none;
  color: #666;
  font-size: 0.85em; }

dl.refinehead {
  font-size: 0.9em; }

.lmenu div dd a {
  line-height: 1.4;
  font-size: 1.4rem; }

#commentsMain p.info,
#commentsLeft p.infobold {
  text-align: left;
  padding: 1em 2em; }

div#commentsRight {
  padding: 2em;
  background-color: #e8e8e8;
  text-align: center; }

#commentsRight a.go.BMBtn {
  display: inline-block;
  height: auto;
  margin: 0.5rem auto;
  float: none;
  padding: 0.5em 1.5em;
  color: black;
  background-color: #ff9f1c;
  border-radius: 6px;
  border-color: #ff9f1c;
  font-weight: bold;
  -webkit-transition: background-color 2s;
  transition: background-color 2s; }

#commentsRight a.go.BMBtn:hover {
  background-color: #e88600; }

.answerbox {
  font-size: 0.95em; }

.navbar-inner a.toponly,
.navbar-inner a.toponlySelected {
  padding: 3.2em 0.95em !important;
  text-align: center;
  line-height: 4rem;
  height: 100%;
  max-height: 60px;
  text-transform: uppercase;
  font-size: 1.4rem !important;
  color: #2c3e50 !important;
  font-family: 'Fjalla One', Helvetica, Verdana, sans-serif !important; }

.navbar {
  position: fixed !important;
  padding: 0;
  top: 0;
  left: 0;
  background: white;
  height: 70px;
  width: 100%;
  z-index: 999999;
  -webkit-box-shadow: 0 3px 9px rgba(11, 11, 11, 0.09);
  box-shadow: 0 3px 9px rgba(11, 11, 11, 0.09); }

a.navbar-brand {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding-top: 5px;
  top: 0; }

.navbar-inner {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a.navbar-brand > img {
  width: auto;
  max-height: 60px; }

.leftHead {
  float: left; }

.rightHead {
  float: right;
  height: 100%;
  width: auto !important;
  clear: none;
  max-height: 60px;
  padding-top: 0.55em; }

.lrga li {
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 70px; }

.leftHead a {
  font-size: 1.9em;
  padding-bottom: 1.2em !important;
  text-decoration: none; }

.leftHead li:hover {
  background-color: #fbfbfb; }

.nav-link,
.shipping {
  padding: 0.6em 1em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

a.nav-link,
.nav-link > img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  max-height: 60px; }

.basketBtn > .nav-link {
  width: 60px; }

#miniBasketMainA {
  position: relative;
  display: block;
  color: #000;
  right: auto;
  margin-top: 0;
  font-size: 1.4rem;
  height: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 3.9rem;
  background: center no-repeat url("https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/shopping-bag-icon.png");
  background-size: 39px !important;
  padding: 0 !important;
  height: inherit !important; }

#miniBasketMainA.notZero {
  background: center no-repeat url("https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/shopping-bag-iconicon_highlighted.png") !important;
  background-size: 39px !important;
  color: white !important; }

.rightHead .nav-link {
  max-height: 50px; }

.container-fluid.promoMessage {
  margin-top: 70px;
  position: relative;
  float: left;
  width: 100%;
  background-color: #b32020;
  /* height: 50px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.messageHead {
  font-size: 1.6rem;
  padding: 0.5em 0;
  color: #ffffff; }

select#site_currency {
  -ms-flex-item-align: center;
  align-self: center;
  border: none;
  padding: 0 !important;
  font-size: 1.3em; }

.siteCurrency {
  float: none;
  padding: 0;
  -ms-flex-item-align: center;
  align-self: center;
  border: none; }

.navbar-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

span.menufill {
  display: none; }

div#div_pos0a,
div#div_pos1a,
div#div_pos2a,
div#div_pos3a,
div#div_pos4a,
div#div_pos5a {
  position: absolute;
  width: 100%;
  top: 70px !important;
  top: 68px !important;
  background-color: #fbfbfb;
  border: none;
  max-height: 400px;
  display: none;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.13); }

li#pos6a,
li#pos7a,
li#pos8a,
li#pos9a,
li#pos10a {
  display: none !important; }

.navbar-inner a.expander {
  display: none; }

.navbar-inner a.toponly,
.navbar-inner a.toponlySelected {
  padding: 3.2em 1.45em 1.5em 1.45em !important;
  text-align: center;
  line-height: 4rem;
  height: 100%;
  max-height: 60px;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #2c3e50;
  font-weight: 300; }

dl.submenu-inner dd {
  text-align: left;
  font-size: 0.95em; }

.submenu-inner a {
  font-size: 1.6em; }

.submenu-inner dt,
.subHead {
  font-size: 1.9em !important;
  font-weight: bold; }

ul#searchMain row {
  height: 38px;
  max-height: 100%; }

#searchArea {
  width: 100px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s; }

#searchArea:hover,
#searchArea:active,
.searchFocus {
  width: 260px !important; }

#searchSingle .b,
#searchSingle .a {
  padding: 0 !important;
  height: 38px !important;
  max-height: 100% !important;
  margin: 0 !important;
  border: none !important; }

#searchSingle .a {
  background: transparent !important;
  width: 100%; }

#searchSingle .b {
  width: 45px !important;
  z-index: 2;
  position: absolute;
  right: 0; }

#searchSingle input.go,
#searchSingle input.schInput {
  height: 100%;
  width: 100%; }

form#searchSingle {
  background: #fefefe;
  height: 40px;
  width: 100%; }

#searchSingle input.go {
  background: center no-repeat url(https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/search-icon.png) white;
  background-size: 28px; }

ul#searchMain {
  border: 1px solid #ececec;
  border-radius: 3px; }

#searchSingle input.schInput {
  /*padding: 4%;*/
  text-indent: 6px;
  background: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#searchSingle input.go:hover {
  background: center no-repeat url(https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/arrow-icon_ready.png) white;
  background-size: 28px; }

#searchSingle .a {
  background: transparent !important; }

.submenu-inner a {
  font-weight: initial;
  font-size: 1.67em; }

div#suggestionBox {
  z-index: 9999999 !important;
  top: 51px !important;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 990px) {
  div#suggestionBox {
    top: 135px !important; } }

div#sresults {
  border: 2px solid #fbfbfb !important;
  background: #ffffff !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 !important; }

#suggestionBox #sresults li a {
  padding: 5%;
  height: auto !important; }

#basketPopup {
  position: fixed !important;
  z-index: 999999999 !important;
  left: 75% !important;
  top: 60px !important;
  height: auto !important;
  padding: 0.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #ececec; }

#basketPopupBtn {
  float: left;
  width: 100%;
  line-height: 0;
  padding: 0 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block; }

#basketPopupBtn a.BMBtn {
  background: #ff9f1c;
  color: black;
  border: none;
  border-radius: 4px;
  line-height: 1.8em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#basketPopupBtn a.BMBtn:hover {
  background: #e88600;
  color: white; }

.userDropdown {
  position: absolute;
  z-index: 999999999;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  background: #fbfbfb;
  border: 1px solid #ececec;
  border-radius: 4px;
  top: 4em;
  width: auto;
  display: none;
  margin-left: -44px;
  -webkit-box-shadow: 0 3px 9px rgba(11, 11, 11, 0.09);
  box-shadow: 0 3px 9px rgba(11, 11, 11, 0.09); }

span.sqArrow {
  height: 20px;
  width: 20px;
  display: block;
  background: #fbfbfb;
  position: absolute;
  top: -10px;
  left: 70px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 2px;
  border-left: 1px solid #ececec;
  border-top: 1px solid #ececec; }

.dropShow {
  display: block; }

a.userBtns {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 1.1em;
  width: 7em;
  text-align: center;
  border: 1px solid #dbe7ed;
  border-radius: 4px;
  margin: 0.5em;
  text-decoration: none;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  background-color: #fefefe; }

a.userBtns:hover {
  border: 1px solid #607d8b; }

#userBtn1 {
  background-color: #ff9f1c;
  color: black;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#userBtn1:hover {
  background-color: #e88600;
  color: white; }

div#ajaxBasket {
  min-width: 50px;
  min-height: 50px;
  background: url("https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/shopping-bag-icon.png") center center no-repeat;
  background-size: 39px; }

.megamenu-cta {
  position: absolute;
  margin-top: -32px;
  width: 160px;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  display: block;
  background: #b23e21;
  color: white;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  background: #bb1f32;
  border: 3px solid rgba(255, 170, 204, 0.35);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 2px white, 2px 2px 7px dimgrey;
  box-shadow: 0 0 0 2px white, 2px 2px 7px dimgrey;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a.megamenu-featured-link:hover > .megamenu-cta,
.megamenu-cta:hover {
  background: #fbac25;
  color: white;
  font-weight: 400;
  -webkit-box-shadow: 0 0 0 2px white, 2px 2px 7px dimgrey;
  box-shadow: 0 0 0 2px white, 2px 2px 7px dimgrey; }

a.megamenu-featured-link > img {
  width: 100%; }

/* navbar shrinking... */
a.navbar-brand > img,
a.toponly,
a.toponlySelected,
.navbar-inner a.toponly,
.lrga,
.navbar {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.navbar-shrunk a.navbar-brand > img {
  max-height: 46px; }

.navbar-inner a.toponly,
.navbar-inner a.toponlySelected {
  max-height: 48px; }

.navbar-shrunk .navbar-inner a.toponly,
.navbar-shrunk .navbar-inner a.toponlySelected {
  line-height: 55px; }

.navbar.navbar-shrunk,
.navbar-shrunk .lrga {
  height: 55px; }

.navbar-shrunk div#div_pos0a,
.navbar-shrunk div#div_pos1a,
.navbar-shrunk div#div_pos2a,
.navbar-shrunk div#div_pos3a,
.navbar-shrunk div#div_pos4a,
.navbar-shrunk div#div_pos5a {
  top: 55px !important; }

.navbar-shrunk .rightHead {
  -webkit-transform: translate3d(0, -0.55em, 0);
  transform: translate3d(0, -0.55em, 0); }

.navbar.navbar-hide {
  -webkit-transform: translate3d(0, -55px, 0);
  transform: translate3d(0, -55px, 0); }

/* END navbar shrinking... */
#outerContainerBox,
#outerContainerBoxI {
  background: none !important;
  width: 100%; }

span#ge_container {
  text-transform: capitalize !important;
  background: none !important; }

.container.mobBlock {
  border: none; }

#mainContainer {
  float: none;
  margin: auto;
  font-size: 1.6em;
  text-align: left; }

.productListItem {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pli_w_Img img {
  width: 100%;
  max-width: 200px; }

.pli_right {
  width: 100%; }

.pli_fill {
  height: auto; }

.pli_pricebox {
  height: auto; }

#siteMap dl,
#siteMap dd {
  padding: 0.5em 0px !important;
  width: 100% !important;
  display: block;
  font-size: 0.95em !important;
  margin: 0 !important;
  max-width: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  float: left; }

#siteMap div dd a {
  display: block;
  line-height: 16px;
  padding: 1px 3px 1px 10px;
  font-size: 0.9em;
  width: 100%; }

#siteMap .container-fluid,
#siteMap .container,
#siteMap .col-md-6,
#siteMap .col-lg-5,
#siteMap .outletDiv {
  padding: 0;
  font-size: 1em !important;
  width: 100%;
  max-width: none !important; }

#siteMap .head1 dt,
#siteMap .head2 dt {
  padding: 0 !important;
  font-size: 1.2em !important;
  margin: 0; }

dl.col-sm-4.col-lg-3.non-sale {
  border-left: 1px solid #ececec; }

.description-notice {
  padding: 0.5rem 1rem;
  background: #f2f2f2; }

.productRelJoeItem {
  float: none;
  margin: 0 auto 1em; }

#productRelJoe .top {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  background: #f2f2f2;
  color: black;
  width: 100%;
  font-family: 'Fjalla One', 'Roboto', sans-serif;
  border-radius: 6px 6px 0 0;
  border: 1px solid #f2f2f2; }

#productRelJoe {
  background: transparent;
  border: 1px solid #e6e6e6;
  padding: 0 0 5px;
  border-radius: 6px;
  /* box-shadow: 0 4px 4px -2px rgba(0,0,0,.3); */ }

.pli_relJoe_left {
  margin: 0.5rem 0;
  color: #617b86;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.pli_relJoe_left .pli_Img {
  border: 1px solid white;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease; }

.pli_relJoe_left:hover {
  color: #3b5763; }

.pli_relJoe_left:hover .pli_Img {
  border: 1px solid #d8d8d8; }

@media (max-width: 717px) {
  .promoMessage {
    display: none !important; }
  #basket_itemcount_mobile {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 3.1em; }
  #mainContainer {
    padding: 1em;
    margin-top: 3.5em; }
  #pmd_ax .menu div dd a.newin-menu-link {
    padding: 0.5em 0 !important;
    border-bottom: none; }
  .megamenu-cta {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    color: #b21e23;
    padding: 1rem 0 !important;
    margin-top: 0;
    height: auto; }
  .megamenu-cta:hover {
    color: initial; }
  #productDetail #crumbs {
    display: none; }
  .pli_w_Img {
    height: auto;
    margin-bottom: 0.3em; }
  .sp_phoneHead {
    padding-bottom: 1em; }
  .container.mobBlock,
  .container-fluid.mobBlock {
    border: none; } }

@media screen and (min-width: 718px) {
  dl.submenu-inner {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    float: none;
    /* min-height: 250px; */
    padding: 3rem 0 0; }
  #global-eSpan,
  div.siteCurrency {
    float: right !important;
    height: auto !important;
    padding: 0 !important;
    background: none !important; }
  .tabArea.phoneon {
    display: none; }
  .double-border {
    border: 8px solid white;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), 0 0 0 12px white, 0 0 8px 16px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), 0 0 0 12px white, 0 0 8px 16px rgba(0, 0, 0, 0.15); }
  .productRelItem {
    width: 18.5%;
    height: auto !important;
    max-width: 177px; }
  .pli_rel_left .pli_Img,
  .pli_rel_right {
    width: 100%;
    height: auto; } }

@media (min-width: 701px) and (max-width: 1072px) {
  #ge_container > span:first-child {
    display: none !important; }
  .double-border {
    border: 8px solid white;
    -webkit-box-shadow: 0 0 0 8px white, 0 0 8px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 8px white, 0 0 8px 12px rgba(0, 0, 0, 0.15); } }

@media (max-width: 950px) {
  dl.row.submenu-inner {
    margin: 0; }
  .outletDiv {
    display: block !important;
    position: relative !important;
    background: none !important;
    border: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto !important;
    padding: 1em 1.5em !important; }
  .outletDiv .row {
    margin: 0 0 1em 0; }
  .menu div dl.head2 {
    margin-top: 0; }
  .submenu-inner dt {
    background: transparent !important;
    font-size: 1.3em !important;
    text-align: left;
    text-transform: capitalize !important;
    border-bottom: 1px solid #ececec; }
  #productRelJoe {
    text-align: center; }
  .productRelJoeItem {
    display: inline-block;
    margin: 0 0.5em 1em; } }

@media (min-width: 701px) and (max-width: 950px) {
  .menu div.megamenu-cta {
    top: 0;
    left: 50%;
    width: auto !important;
    padding: 5px 5px 10px; }
  .menu dl.submenu-inner {
    position: relative; }
  .menu li:hover > a,
  .menu li:hover > span {
    color: initial; }
  #blog-categories li {
    display: inline-block;
    width: 48%;
    text-align: left;
    margin: 1%;
    background: white;
    border-radius: 5px;
    padding: 0.5em 2em;
    font-size: 0.9em;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #blog-categories a {
    margin: 0;
    font-size: 1.2em; }
  .blog-sub-cats {
    display: block !important;
    position: relative;
    width: 100% !important;
    border: none !important;
    background: none !important; }
  div#div_pos5a_p.col1_3 {
    top: auto !important;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none; }
  .ipadCol--outlet {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0; }
  #phoneHead {
    display: block !important; }
  .navbar.phoneoff {
    display: none; }
  .container-fluid.promoMessage {
    margin-top: 58px; }
  #mobiletoplogo {
    width: auto;
    max-height: 45px;
    margin-top: -7px; }
  .phoneTopMenu ul {
    float: left;
    width: 100%;
    background: #fff;
    padding: 5px 0; }
  .phoneTopMenu {
    float: left;
    width: 100%;
    position: relative;
    display: none; }
  .phoneTopMenu ul li.left {
    width: 10%;
    border-right: none;
    position: absolute;
    margin: -60px 0px; }
  .menuLink img {
    margin-left: 10px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .menuLink::before {
    left: 10px; }
  .phoneTopMenu ul li.right {
    width: 25px;
    height: 25px;
    right: 15px;
    position: absolute;
    display: inline-block;
    background: url("https://www.joebrowns.co.uk/assets/images/basket-icon.png") top left no-repeat;
    background-size: 100% 100%;
    margin-top: -58px;
    color: transparent; }
  #basket_itemcount_mobile {
    margin-top: -35px;
    position: absolute;
    display: inline-block;
    color: #000;
    right: 30px;
    font-size: 100%;
    background-size: 35px !important; }
  #pmd_b {
    display: block;
    position: fixed;
    top: -100%;
    z-index: 1000;
    background: #e4e4e4;
    background: rgba(220, 220, 220, 0.95);
    float: left;
    width: 100%;
    margin: 0;
    padding: 2rem 4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transition: top 0.2s ease, opacity 0.3s ease;
    transition: top 0.2s ease, opacity 0.3s ease; }
  #pmd_b.pmbOpen {
    opacity: 1;
    top: 58px; }
  .mobilemenulink {
    display: none !important; }
  #pmd_b .main {
    width: 90%;
    border: 1px solid #ccc;
    background-color: #f2f2f2; }
  #pmd_b .main input.schInput {
    background: transparent;
    border: none;
    float: left; }
  #headMessages {
    display: none; }
  .display_headMessages {
    display: inline-block !important; }
  div#headerContainerPhone {
    display: block;
    position: fixed;
    z-index: 999999;
    width: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #phoneHead {
    display: block !important;
    border-bottom: 1px solid #f2f2f2;
    padding: 3% 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 58px;
    padding: 0 5px;
    z-index: 9999999;
    position: fixed !important;
    width: 100%;
    background: white;
    top: 0;
    -webkit-transform: translate3d(0, 0, 2); }
  .menu li a.toponly {
    display: none !important; }
  div#pmd_ax a.expander {
    width: 100% !important;
    padding: 0 !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: none;
    display: block;
    text-align: left;
    /* font-size: 1.3em; */
    background: url(https://1039206484.rsc.cdn77.org/assets/images/plus.png) 100% 8px no-repeat transparent; }
  li#pos0a_p:hover > .expander,
  li#pos1a_p:hover > .expander,
  li#pos2a_p:hover > .expander,
  li#pos3a_p:hover > .expander,
  li#pos4a_p:hover > .expander,
  li#pos5a_p:hover > .expander {
    color: black !important; }
  li#pos0a_p,
  li#pos1a_p,
  li#pos2a_p,
  li#pos3a_p,
  li#pos4a_p,
  li#pos5a_p {
    background: transparent !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2% 8%;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 3%;
    border-radius: 5px;
    width: 100%;
    margin: 3% 0 0; }
  #div_pos0a_p,
  #div_pos1a_p,
  #div_pos2a_p,
  #div_pos3a_p,
  #div_pos4a_p {
    background: none;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
    position: relative; }
  .expanded--expander {
    padding: 0 3% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: floralwhite !important; }
  #pmd_ax {
    position: fixed;
    left: -100vw;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    top: 58px;
    z-index: 999999;
    opacity: 0;
    width: 100%; }
  #pmd_ax .menu div dd a {
    display: block;
    padding: 3% 5% !important;
    white-space: nowrap;
    font-size: 0.98em;
    color: #333;
    border-radius: 8px;
    margin: 1% 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #fafafa;
    border-bottom-color: #f1f1f1;
    background: #ffffff; }
  #pmd_ax dl.col1 {
    background: none; }
  #pmd_ax ul#phoneMenu {
    height: calc(100% - 58px);
    height: calc(100vh - 58px);
    margin-top: 0;
    overflow: scroll;
    background: #fbfbfb;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block !important; }
  #pmd_ax ul#phoneMenu dd.subHead.sitemaphide {
    padding: 5% 0 2% 0;
    text-align: center;
    color: #9e9e9e;
    text-align: left;
    text-transform: uppercase;
    /* font-weight: 100; */
    font-size: 1.4em !important;
    border-top: 1px solid #ececec; }
  #mobIcons {
    display: block;
    height: 50px;
    z-index: 500; }
  .phoneHead--Icons {
    display: inline-block !important;
    width: 33.3% !important;
    float: left; }
  /***** SVG

	.phoneHead--Icons svg {
	  fill: #2C3E50 !important;
	}
	.phoneHead--Icons svg #hamburger-icon path#line-top,
	.phoneHead--Icons svg #hamburger-icon path#line-bottom,
	.phoneHead--Icons svg #hamburger-icon path#line-middle {
	  transform: translateY(0) rotate(0);
	  transform-origin: center;
	  transition: transform .2s ease;
	}
	.phoneHead--Icons svg #profile-icon {
	  stroke: #2C3E50;
	}
	.menuOn svg {
	  fill: #2C3E50 !important;
	}
	.menuOn svg #hamburger-icon path#line-top {
	  transform: translateY(-1em);
	}
	.menuOn svg #hamburger-icon path#line-bottom {
	  transform: translateY(1em);
	}
	.highlightIcon svg {
	  fill: #e06a78 !important;
	}
	.highlightIcon svg #hamburger-icon path#line-top {
	  transform: translateY(0) rotate(45deg);
	}
	.highlightIcon svg #hamburger-icon path#line-middle {
	  transform: translateY(0) rotate(-45deg);
	}
	.highlightIcon svg #hamburger-icon path#line-bottom {
	  transform: translateY(0) rotate(-45deg);
	}
	.iconOn #userBtn {
	  fill: #e06a78 !important;
	}
	.iconOn #shopping-bag-icon {
	  fill: #e06a78 !important;
	}
	.iconOn #profile-icon {
	  stroke: #e06a78 !important;
	}
	.iconOn #search-icon {
	  fill: #e06a78 !important;
	}*/
  #hamburgerBtn,
  #userBtn {
    float: left; }
  #bagBtn,
  #searchBtn {
    float: right; }
  .phoneHead--Icons svg #profile-icon {
    stroke: #2c3e50;
    fill: none;
    stroke-miterlimit: 40;
    stroke-width: 3px; }
  path#bag-fill {
    fill: white; }
  div#innerContainer .mobileHomeContainer {
    margin-top: 0 !important; }
  ul#userDropdown {
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #e4e4e4;
    display: inline-block;
    width: 100%; }
  ul#userDropdown li {
    display: inline-block;
    width: 46%;
    padding: 0;
    margin: 0 1%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  ul#userDropdown li a.loginMob {
    width: 100%;
    display: block;
    padding: 1.5rem 0;
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: .6rem; }
  span#itemCountSpan {
    position: absolute;
    width: 35px;
    margin-top: 15px; }
  .notZero {
    color: #fff !important;
    background: center no-repeat url(https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/shopping-bag-iconicon_highlighted.png) !important; }
  #pmd_b .main {
    width: 100%;
    border: none;
    background: none;
    margin: 0; }
  #pmd_b .main input.go {
    color: transparent;
    border: none;
    background: url(https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/arrow-icon_unready.png) center no-repeat;
    background-size: 30px !important;
    width: 20%;
    height: 48px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin: 0;
    right: auto;
    position: relative;
    padding: 1%;
    background-color: #ffffff !important;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0 8px 8px 0;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    float: left; }
  .iconReady--search {
    background: url(https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/arrow-icon_ready.png) center no-repeat !important; }
  #pmd_b .main input.schInput {
    width: 80%;
    height: 48px;
    font-size: 1.6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    background: 0 0;
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 8px 0 0 8px; }
  div#loginDropdown {
    display: block !important;
    position: fixed;
    width: 100%;
    top: -100%;
    z-index: 9999;
    -webkit-transition: top 0.2s;
    transition: top 0.2s; }
  .dropDownLogin {
    top: 58px !important; }
  .slideMenu {
    left: 0 !important;
    opacity: 1 !important; }
  .phoneHead--Icons > a {
    width: 100%;
    height: 40px;
    display: block; }
  .mobLogoLi {
    max-width: none; }
  img.mobHeadIcons {
    width: auto;
    height: 35px;
    display: block;
    margin: 0 auto !important;
    visibility: visible !important; }
  #basket_itemcount_mobile {
    position: relative;
    display: block;
    color: #000;
    right: auto;
    margin-top: 0;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 3.2;
    background: center no-repeat url(https://1039206484.rsc.cdn77.org/assets/images/mobileIcons/shopping-bag-icon.png);
    background-size: 35px; }
  #newPhoneHeaderContainer {
    display: block;
    position: fixed;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #iconsLeftSide,
  #iconsRightSide,
  #iconsMiddle {
    display: inline-block;
    width: 30%;
    float: left;
    margin-top: 9px; }
  #iconsMiddle {
    width: 40%;
    margin: 0;
    height: 58px; }
  #iconsMiddle > a {
    display: block;
    width: 100%;
    height: 58px;
    padding: 4%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /*@media (orientation: landscape){
		#phoneHead,
		#pmd_ax,
		div#loginDropdown,
		#pmd_b{
			position: absolute!Important;
		}
		#pmd_ax,
		.dropDownLogin,
		.pmbOpen{
			top:  15vh !important;

		}
		li#pos0a_p,
		li#pos1a_p,
		li#pos2a_p,
		li#pos3a_p,
		li#pos4a_p,
		li#pos5a_p {
			padding: 3% 6%;
		}
		ul#userDropdown,
		#pmd_b
		{
			padding: 1.5% 9%;
			height: 22vh;
		}
		#pmd_b .main input.schInput,
		#pmd_b .main input.go
		{
			height: 15vh;
		}
		img#mobiletoplogo {
		max-height: 12vh ;
		margin-top: -1.2vh;
	}
	.lrga dd {
		display: inline-block;
		width: 47%;
		float: left;
		margin-right: 2% !important;
	}
	}*/
  #loadingMenu {
    display: block;
    background: none;
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    padding-top: 20%; }
  #loadingMenu > p {
    margin-top: 25px; }
  ul#phoneMenu li#pos10a_p {
    display: none;
    background: none !important; }
  ul#phoneMenu div#div_pos10a_p {
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* Shop by size styling */
  .sbs-mob-wrap {
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #d8d8d8;
    padding: 1em;
    border-radius: 4px; }
  .sbs-mob-wrap span.sizes-header {
    font-size: 1.3em;
    font-weight: bold;
    color: #b21e23;
    text-transform: uppercase;
    border-bottom: 1px solid #d8d8d8;
    width: 80%;
    display: block;
    margin-left: 10%; }
  .sbs-sizes-wrap a {
    max-width: 44px;
    height: 44px;
    display: inline-block;
    background: #b21e23;
    color: white;
    border-radius: 50%;
    font-size: 1.4em;
    line-height: 44px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold; }
  .container.mobBlock,
  .container-fluid.mobBlock {
    border: none;
    position: relative;
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    padding: 0; }
  dd.subHeadFill {
    display: none; } }

/* IMPORTANT to include when promoMessage isn't in */
@media (min-width: 718px) {
  .container-fluid.px-0.pb-3.bodyContainer.clearfix {
    margin-top: 70px; } }

/************

blog bits

************/
#menu .blog-sub-cats {
  margin: 0 !important;
  padding: 0 !important; }

#blog-categories a {
  width: 10em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2em;
  margin-left: 3em;
  padding: 0.3em !important; }

h3.submenu-blog-title {
  color: #bbb;
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem; }

.entry-summary p {
  font-size: 1.6rem; }

#menu #blog-categories li {
  height: auto; }

p.entry-title {
  width: 100%;
  padding: 0 !important;
  float: left;
  font-weight: bold;
  font-size: 1.8rem; }

.entry-content p {
  text-align: left;
  padding: 0 12px;
  padding-left: 48px;
  max-height: 56px;
  overflow: hidden;
  float: left; }

.entry-summary a.more-link {
  display: inline-block;
  padding-bottom: .1rem !important;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.6rem !important;
  color: black;
  border-bottom: 1px solid #bbb;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }

.entry-summary a.more-link > span {
  display: none; }

.entry-summary a.more-link:hover {
  color: #F44336; }

#menu .megamenu-blog-sub .latest-post-wrap,
#menu .megamenu-blog-sub .blog-sub-cats {
  float: left;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: none; }

.menu .megamenu-blog-sub .latest-post-wrap #latest-post-content {
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 1em;
  width: 100%;
  background: none;
  border: none;
  text-align: left; }

#menu .megamenu-blog-sub .latest-post-wrap {
  width: 75%;
  border-right: 1px solid #ececec; }

#menu .megamenu-blog-sub .latest-post-wrap #latest-post-content div.entry-summary,
#menu .megamenu-blog-sub .latest-post-wrap #latest-post-content div.entry-thumbnail {
  position: relative;
  display: inline-block;
  float: left;
  width: 45%;
  padding: 0;
  background: none;
  border: none; }

#menu .megamenu-blog-sub .latest-post-wrap #latest-post-content div.entry-summary {
  width: 50%;
  font-size: .9em;
  line-height: 1.6; }

#menu .megamenu-blog-sub .blog-sub-cats {
  width: 25%;
  margin-top: 1em; }

#menu #blog-categories li {
  display: block;
  float: left;
  clear: both;
  text-align: left;
  margin: .5em 0 0 .2em; }

#menu #blog-categories li:hover {
  color: #57585a; }

#menu #blog-categories li a {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

#menu #blog-categories li a:hover, #menu #blog-categories li a:focus {
  background: #9cdbd9;
  color: #57585a; }

#menu a.latest-post-img {
  display: inline-block;
  width: 40%;
  max-width: 290px;
  height: 220px;
  float: left;
  margin-top: .5em;
  margin-right: 1em;
  background: #9cdbd9 url("https://www.joebrowns.co.uk/assets/images/megaMenu/joes-blog-fallback.jpg") top center no-repeat;
  background-size: 100%;
  -webkit-box-shadow: 0 5px 8px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 8px -3px rgba(0, 0, 0, 0.3); }

/* account page fixes */
#services_savedTokens .card,
.sn_row {
  height: auto; }
