﻿/* topmenu.css */
#leftMenu .halfPriceImg {
	display: none !important;
}

a.blue-link { color: #0056b3; }
dd.subHead {
	font-size: 1.55em !important;
	padding-bottom: 0.6em;
	border-bottom: 1px solid #ccc;
}
.submenu-inner a {
	color: #333;
	font-size: 1.57em !important;
	transition: color .3s ease;
}
.submenu-inner a:hover {
	color: #565656;
}

.submenu-inner dd.subHead a {
	font-size: 1.8rem !important;
}

.women--menu--img,
.men--menu--img,
.outlet--menu--img{
	max-height: 16em;
}
.women--menu--img{
	background: url(https://1039206484.rsc.cdn77.org/assets/images/aw18_drop4/mm-women-party.jpg) no-repeat center;
}
.men--menu--img{
	background: url(https://1039206484.rsc.cdn77.org/assets/images/aw18_drop4/mm-men-party.jpg) no-repeat center;
}
.outlet--menu--img{
	background: url(https://1039206484.rsc.cdn77.org/assets/images/aw17_drop5/megaMenu/outlet-new.jpg) no-repeat center;
}
.women--menu--img .megamenu-cta,
.men--menu--img .megamenu-cta,
.outlet--menu--img .megamenu-cta{
	margin-top: auto !important;
	bottom: -20px;
}
.navbar a.giftVoucher::before {
	left: 0.9em !important;
}
.lmenu div dd a {
	line-height: 1.4;
	font-size: 1.4rem !important;
}
.xmas-link::before {
	margin-left: -19.966px !important;
}
@media (max-width: 1370px) {
	.women--menu--img,
	.men--menu--img,
	.outlet--menu--img{
		display: none !important;
	}
}
@media (max-width: 1370px) and (min-width: 951px){
	.navbar  .col-lg-5,
	.navbar  .col-lg-4,
	.navbar  .col-lg-6{
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.navbar .ml-lg-5 {
		margin-left: 0 !important;
	}
	.navbar  .col-lg-2{
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		margin-left: 0 !important;
	}
}
@media (min-width: 576px){
	.nav .col-sm-12 {
		-ms-flex: 0 0 100% !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}

@media (max-width: 950px){
	#pmd_ax .submenu-inner {
		font-size: 0.7em;
	}
	#pmd_ax #outletDiv1,
	#pmd_ax #outletDiv2 {
		font-size: 1em;
		width: 100% !important;
		max-width: 100%;
		flex: 100%;
	}
}

@media (max-width: 1370px){
	.halfPriceImg {
		display: none;
	}
}

@media (min-width: 951px) {

	li#pos1a:hover {
		background: #d4f7fa;
	}
	#div_pos1a {
		background: #d4f7fa !important;
		background: linear-gradient(#d4f7fa, #f2fdfb )  !important;
	}

	li#pos2a:hover {
		background: #c8e2ef !important;
	}
	#div_pos2a {
		background: #c8e2ef !important;
		background: linear-gradient( #c8e2ef,#e4f6ff, #f9fdff) !important;
	}

	li#pos3a:hover {
		background: #d1efea !important;
	}
	li#pos3a.clearance:hover {
		background: #fbdddd !important;
	}
	#div_pos3a {
		background: #d1efea;
		background: -webkit-linear-gradient(left, #d1efea, #fff0, #fff0, #fff0, #d1efea), -webkit-linear-gradient(#e5f7ecf2, #f2fbf6c2, #fff0, #fff0, #fff0, #fff0, #fff0, #fff0), -webkit-linear-gradient(left, #d1efea, #fff, #fff, #fff, #d1efea) !important;
		background: -o-linear-gradient(left, #d1efea, #fff0, #fff0, #fff0, #d1efea), -o-linear-gradient(#e5f7ecf2, #f2fbf6c2, #fff0, #fff0, #fff0, #fff0, #fff0, #fff0), -o-linear-gradient(left, #d1efea, #fff, #fff, #fff, #d1efea) !important;
		background: linear-gradient(to right, #fbdddd, #fff0, #fff0, #fff0, #fbdddd), linear-gradient(#fbdddd, #fbddddba, #fff0, #fff0, #fff0, #fff0, #fff0, #fff0), linear-gradient(to right, #fbdddd, #fff, #fff, #fff, #fbdddd) !important;
	}
	#div_pos3a.clearance {
		background: #fbdddd;
		background: linear-gradient(to right, #fbdddd, #fff0, #fff0, #fff0,  #fbdddd), linear-gradient( #fbddddf2, #fff8f1, #fff0, #fff0, #fff0, #fff0, #fff0,#fff0), linear-gradient(to right, #fbdddd, #fff, #fff, #fff,  #fbdddd) !important;
	}
}