.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-sub{
  @extend .btn;
  height: 1.8rem;
  font-size: 1rem;
  line-height: 1.8rem;
}
.sub-field{
  height: 1.8rem !important;
  line-height: 1.8rem;
}

.padding-off{
  padding: 0 !important;
}


//Sticky badge
.fixed-mail-btn {
  @extend .fixed-action-btn;
  float: left;
  position: fixed;
  left: 0.8rem;
  top: 15rem;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}
i.mail-floating{
    color: #ddd8db;
    font-size: 3.5rem;
    line-height: 3.5rem;
}
.fixed-notification-badge {
  position: relative;
  top: 1.4rem;
  left: 2.3rem;
  overflow: hidden;
  margin: 0;
  z-index: 998;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.4rem;
  padding: 0;
  background-color: indianred;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}
.newsletter-form {
  display: block;
}
div .pin-form{
  background-color: indianred;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  padding: 0px 10px 2px;
  margin-bottom: 0;
  height: 2.5rem;
  width: 100%;
  display: flex;
  a{
    width: 100%;
  }
}
form .row{
  width: 100%;
  height: auto;
  margin: 0 20px 0;
}

.fix-form{
  @extend .pin-form;
  position: relative;
  margin: 0;
  padding: 0;
}
.full-container{
  width: 100%;
  margin: 0;
  padding: 0;
}

//extend materialize model to avoid bootstrape
.mmodal-content{
  @extend .modal-content;
  h4 {
    padding-top: 0.8rem;
  }
}
.mmodal-footer{
  @extend .modal-footer;
}
.modal-header img {
  width: 75%;
}
$duration: 5s;
$text-color: rgba(255, 255, 255, 0.3);
$bgr-color: #333;
.shine {
  background: indianred -webkit-gradient(linear, left top, right top, from(indianred), to(indianred), color-stop(0.5, indianred)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  color: $text-color;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}
.boot{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0 ;
}